.bg-jum{
    background-color: #d2b77a;
}

.bg-card2{
    background-color: #b3814c;
}

.text-subtitulos{
    color: #87634a;
}

.bg-acordin{
    background-color: #bd2828;
}

.comic-relief-regular {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}

.comic-relief-bold {
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}
